<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/common-layout">

<head>
    <title>Edycja rowerów</title>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
</head>

<body th:with="page='users'">

<div layout:fragment="content">

    <form class="form-horizontal" role="form" action="#" th:action="@{/admin/bikes/{id}/edit/(id=${bike.id})}"
          th:object="${bike}"
          method="post">
        <div class="form-group" th:class="${#fields.hasErrors('manufacturer')}? 'form-group has-error' : 'form-group'">
            <label for="inputManufacture" class="col-sm-2 control-label"
                   th:text="#{label.manufacturer}">Manufacturer</label>

            <div class="col-sm-10">
                <input type="text" class="form-control" id="inputManufacture" th:field="*{manufacturer}"
                       placeholder="Username"/>
                <label class="control-label" for="inputManufacture" th:errors="*{manufacturer}">Error!</label>
            </div>
        </div>
        <div class="form-group" th:class="${#fields.hasErrors('model')}? 'form-group has-error' : 'form-group'">
            <label for="inputModel" class="col-sm-2 control-label" th:text="#{label.model}">Model</label>

            <div class="col-sm-10">
                <input type="text" class="form-control" id="inputModel" th:field="*{model}" placeholder="Model"/>
                <label class="control-label" for="inputModel" th:errors="*{model}">Error!</label>
            </div>
        </div>
        <div class="form-group" th:class="${#fields.hasErrors('serialNumber')}? 'form-group has-error' : 'form-group'">
            <label for="inputSerialNumber" class="col-sm-2 control-label"
                   th:text="#{label.serialNumber}">SerialNumber</label>

            <div class="col-sm-10">
                <input type="text" class="form-control" id="inputSerialNumber" th:field="*{serialNumber}"
                       placeholder="SerialNumber"/>
                <label class="control-label" for="inputModel" th:errors="*{serialNumber}">Error!</label>
            </div>
        </div>

        <div class="form-group" th:class="${#fields.hasErrors('bikeStatus')}? 'form-group has-error' : 'form-group'">
            <label for="bikeStatus" class="col-sm-2 control-label">Status</label>

            <div class="col-sm-10">
                <div class="form-control" style="border: none">
                    <label class="checkbox-inline" th:each="bikeStatus : ${T(com.jarkos.bss.persistance.enums.BikeStatus).values()}">
                        <input type="radio" id="bikeStatus" th:field="*{bikeStatus}" th:value="${bikeStatus}"/>
                        <span th:text="${bikeStatus.name()}"/>
                    </label>
                </div>
                <label class="control-label" for="bikeStatus" th:errors="*{bikeStatus}">Error!</label>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default">Zapisz</button>
            </div>
        </div>
    </form>


</div>

</body>
</html>