<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/common-layout">
<head>
    <title>Profil stacji</title>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
</head>
<body th:with="page='bikes'">
<div layout:fragment="content">
    <div class="table-responsive">
        <table class="table table-striped">
            <tbody>
            <div th:object="${bike}">
                <td style="font-size: 28px" th:text="'ID: ' + ${bike.id}">3</td>
                <td style="font-size: 28px" th:text="'SN: ' + ${bike.serialNumber}"></td>
                <td style="font-size: 28px" th:text="'Status: ' + ${bike.bikeStatus}"></td>
                <div id="infoStation" th:if="${(bike.station != null) }">
                    <td style="font-size: 28px" th:text="'Stacja: ' + ${bike.station.location.locationAddress}"></td>
                </div>
            </div>
            </tbody>
        </table>
    </div>
    <a href="#" th:href="@{/admin/bikes/{id}/notes/create/ (id=${bike.id})}" class="btn btn-primary btn-lg active" role="button">Dodaj notatke</a>
    <h3>Notatki</h3>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Nr</th>
                <th>Opis</th>
                <th>Data utworzenia</th>
                <th>Usuń</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="note, noteStat : ${notes}">
                <td th:text="${noteStat.count}">1</td>
                <td th:text="${note.description}">1</td>
                <td th:text="${note.created}">1</td>
                <td><a href="deleteBikeNote" th:href="@{/admin/bikes/{bikeId}/notes/{noteId}/delete/(bikeId=${bike.id},noteId=${note.id})}">usuń</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>