<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/common-layout">

<head>
    <title>Lista rowerów</title>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
</head>

<body th:with="page='bikes'">

<div layout:fragment="content">
    <div id="infoDeleted" th:if="${(param.deleted != null) and (param.deleted[0] == 'true')}">
        <div class="alert alert-info" role="alert">Usunięto rower!</div>
    </div>

    <div id="infoCreated" th:if="${(param.created != null) and (param.created[0] == 'true')}">
        <div class="alert alert-info" role="alert">Dodano rower!</div>
    </div>

    <div id="infoEdited" th:if="${(param.edited != null) and (param.edited[0] == 'true')}">
        <div class="alert alert-info" role="alert">Zapisano edycje roweru!</div>
    </div>

    <a href="#" th:href="@{/admin/bikes/create}" class="btn btn-primary btn-lg active" role="button">Dodaj rower</a>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>ID</th>
                <th>Producent</th>
                <th>Model</th>
                <th>Numer seryjny</th>
                <th>Data utworzenia</th>
                <th>Data aktualizacji</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="bike, bikeStat : ${bikeList}">
                <td th:text="${bikeStat.count}">1</td>
                <td th:text="${bike.manufacturer}">Admin</td>
                <td th:text="${bike.model}">admin@oneous.com</td>
                <td th:text="${bike.serialNumber}">admin@oneous.com</td>
                <td th:text="${bike.created}">25/10/2014</td>
                <td th:text="${bike.updated}">25/10/2014</td>
                <td><a href="editBike" th:href="@{/admin/bikes/{id}/edit/(id=${bike.id})}">edytuj</a></td>
                <td><a href="deleteBike" th:href="@{/admin/bikes/{id}/delete/(id=${bike.id})}">usuń</a></td>
            </tr>
            </tbody>
        </table>
    </div>

</div>

</body>
</html>