<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorator="layout/common-layout">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title layout:title-pattern="$CONTENT_TITLE - $DECORATOR_TITLE">Bike Sharing System</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <link rel="icon" href="../../../resources/images/favicon.ico" th:href="@{/resources/images/favicon.ico}"/>
    <link rel="stylesheet" type="text/css" media="all" href="../../../resources/bootstrap-3.3.0/css/bootstrap.css"
          th:href="@{/resources/bootstrap-3.3.0/css/bootstrap.min.css}"/>
    <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Styles for this template -->
    <link rel="stylesheet" type="text/css" media="all" href="../../../resources/css/dashboard.css"
          th:href="@{/resources/css/dashboard.css}"/>
    <!-- Custom CSS Style -->
    <link rel="stylesheet" type="text/css" media="all" href="../../../resources/css/custom-style.css"
          th:href="@{/resources/css/custom-style.css}"/>
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
    <script src="../../../resources/js/custom-scripts.js" th:src="@{/resources/js/skrypt.js}"></script>
    <script src="../../../resources/js/panel-skrypt.js" th:src="@{/resources/js/map-skrypt.js}"></script>
</head>
<body th:with="page='map'">

<div layout:fragment="content">
    <style>
        #mapCanvas {
            width: 800px;
            height: 600px;
            float: left;
        }

        #infoPanel {
            float: left;
            margin-left: 10px;
        }

        #infoPanel div {
            margin-bottom: 5px;
        }
    </style>

    <div id="mapCanvas"></div>
    <div id="infoPanel">
        <b>Marker status:</b>

        <div id="markerStatus"><i>Click and drag the marker.</i></div>
        <b>Current position:</b>

        <div id="info"></div>
        <b>Closest matching address:</b>

        <div id="address"></div>
    </div>
</div>
</body>
</html>