<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/common-layout">

<head>
    <title>Dodanie nowych użytkowników</title>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
</head>

<body th:with="page='users'">

<div layout:fragment="content">

    <form class="form-horizontal" role="form" action="#" th:action="@{/admin/users/create}" th:object="${user}"
          method="post">
        <div class="form-group" th:class="${#fields.hasErrors('username')}? 'form-group has-error' : 'form-group'">
            <label for="inputUsername" class="col-sm-2 control-label" th:text="#{label.username}">Username</label>

            <div class="col-sm-10">
                <input type="text" class="form-control" id="inputUsername" th:field="*{username}"
                       placeholder="Username"/>
                <label class="control-label" for="inputUsername" th:errors="*{username}">Error!</label>
            </div>
        </div>
        <div class="form-group" th:class="${#fields.hasErrors('email')}? 'form-group has-error' : 'form-group'">
            <label for="inputEmail" class="col-sm-2 control-label" th:text="#{label.email}">Email</label>

            <div class="col-sm-10">
                <input type="email" class="form-control" id="inputEmail" th:field="*{email}" placeholder="Email"/>
                <label class="control-label" for="inputEmail" th:errors="*{email}">Error!</label>
            </div>
        </div>
        <div class="form-group" th:class="${#fields.hasErrors('password')}? 'form-group has-error' : 'form-group'">
            <label for="inputPassword" class="col-sm-2 control-label" th:text="#{label.password}">Password</label>

            <div class="col-sm-10">
                <input type="password" class="form-control" id="inputPassword" th:field="*{password}"
                       placeholder="Password"/>
                <label class="control-label" for="inputPassword" th:errors="*{password}">Error!</label>
            </div>
        </div>

        <div class="form-group" th:class="${#fields.hasErrors('fullName')}? 'form-group has-error' : 'form-group'">
            <label for="inputFullName" class="col-sm-2 control-label" th:text="#{label.fullName}">Full Name</label>

            <div class="col-sm-10">
                <input type="text" class="form-control" id="inputFullName" th:field="*{fullName}"
                       placeholder="fullName"/>
                <label class="control-label" for="inputFullName" th:errors="*{fullName}">Error!</label>
            </div>
        </div>


        <div class="form-group" th:class="${#fields.hasErrors('address')}? 'form-group has-error' : 'form-group'">
            <label for="inputAddress" class="col-sm-2 control-label" th:text="#{label.address}">Address</label>

            <div class="col-sm-10">
                <input type="text" class="form-control" id="inputAddress" th:field="*{address}"
                       placeholder="Name"/>
                <label class="control-label" for="inputAddress" th:errors="*{address}">Error!</label>
            </div>
        </div>

        <div class="form-group" th:class="${#fields.hasErrors('roles')}? 'form-group has-error' : 'form-group'">
            <label for="roles1" class="col-sm-2 control-label">Role</label>

            <div class="col-sm-10">
                <div class="form-control" style="border: none">
                    <label class="checkbox-inline"
                           th:each="role : ${T(com.jarkos.bss.persistance.enums.Role).values()}">
                        <input type="checkbox" id="roles1" th:field="*{roles}" th:value="${role}"/> <span th:text="${role.name()}"/>
                    </label>
                </div>
                <label class="control-label" for="roles1" th:errors="*{roles}">Error!</label>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default">Submit</button>
            </div>
        </div>
    </form>

</div>

</body>
</html>